<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_1249522473104" version="3.0">
	<display-name>boc</display-name>
	<description>boc application</description>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.boc</param-value>
	</context-param>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>spc.webos.web.listener.CxtLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/spring/*.xml
		</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>verifyimage</servlet-name>
		<servlet-class>spc.webos.web.servlet.VerifyImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>verifyimage</servlet-name>
		<url-pattern>/v</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ext</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ext</servlet-name>
		<url-pattern>/ext/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>page</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>page</servlet-name>
		<url-pattern>/p/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>js</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>js</servlet-name>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.htm</welcome-file>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>Filter Chain Proxy</filter-name>
		<filter-class>spc.webos.web.filter.FilterToBeanProxy</filter-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>filter.chainProxy</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter Chain Proxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>